*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url('./1600x900-digital-color-shapes_1563221369.jpg');
    background-size: cover;
}
.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 150px 0 0;
}
section {
    display: flex;
    align-items: center;
    width: 450px;
    background-color: #00cccc;
    height: auto;
    
}
.cell {
    width: 100px;
    height: 100px;
    background-color:   #0b423c;
    margin: 5px;
    justify-content: center;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;

}

/** CSS pseudo class to get the X and Circle shape*/
.cell.xShape::before, 
.cell.xShape::after{
    content:'';
    width: 10px;
    height: 60px;
    background-color: #00cccc;
    position: absolute;
}

.cell.xShape::before{
    transform: rotate(45deg);
}
.cell.cell.xShape::after{
    transform: rotate(-45deg)
}
.cell.circleShape::before, 
.cell.cell.circleShape::after{
    content: '';
    border-radius: 50px;
    position: absolute;
}

.cell.circleShape::before{
    background-color: #00cccc;
    width: 70px;
    height: 70px;

}
.cell.circleShape::after {
    background-color: #0b423c;
    width: 50px;
    height: 50px;    
}

.msg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;  
    flex-direction: column;  

}
.msg button {
    font-size: 40px;
    background: #ffffff;
    border: 1px solid #000000;
    padding: 10px 50px;
    cursor: pointer;
}

.msg button:hover {
    background-color: #000000;
    color: #ffffff;
    border-color: #ffffff;
}


.msg.show {
    display: flex;
}
.score{
    display: none;
}
.score.show{
    display: flex;
}