*{
    margin: 0;
    padding: 0;
}
.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
section {
    display: flex;
    align-items: center;
    width: 450px;
    background-color: lightblue;
    height: auto;
    margin-right: 3px;
    
}
aside {
    display: flex;
    align-items: center;
    width: 200px;
    flex-direction: row;
    background-color: lightblue;
    height: auto;
    margin-left: 5px;
}
.cell {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 5px;
    justify-content: center;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

/** CSS pseudo class to get the X and Circle shape*/
.cell.xShape::before, 
.cell.xShape::after{
    content:'';
    width: 10px;
    height: 60px;
    background-color: #ffffff;
    position: absolute;
}

.cell.xShape::before{
    transform: rotate(45deg);
}
.cell.cell.xShape::after{
    transform: rotate(-45deg)
}
.cell.circleShape::before, 
.cell.cell.circleShape::after{
    content: '';
    border-radius: 50px;
    position: absolute;
}

.cell.circleShape::before{
    background-color: #ffffff;
    width: 70px;
    height: 70px;

}
.cell.circleShape::after {
    background-color: #0000ff;
    width: 50px;
    height: 50px;    
}

/** Hover effect*/
/* .cell.cell.xShape::before,
.cell:not(.xShape):hover::before,
.cell:not(.xShape):hover::after{
    background-color: #ff0000;

} */




.msg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;  
    flex-direction: column;  

}
.msg button {
    font-size: 40px;
    background: #ffffff;
    border: 1px solid #000000;
    padding: 10px 50px;
    cursor: pointer;
}

.msg button:hover {
    background-color: #000000;
    color: #ffffff;
    border-color: #ffffff;
}


.msg.show {
    display: flex;
}